.work-highlight-bg {
    width: 100%;
    background-color: #34353a;
    display: flex;
    justify-content: center;
    padding: 3em 0 3em 0;
}

.work-highlight-container {
    width: 80%;
    background-color: #34353a;
}

.work-highlight-title {
    font-size: 3rem;
    margin: 0 0 0.5rem 0;
    width: 100%;
    color: white;
}

.work-highlight-content-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.work-highlight-content {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.color-block {
    width: 433px;
    height: 320px;
    background-color: rgb(12, 162, 237);
    position: relative;
}

.work-highlight-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    left: -2rem;
    bottom: 2rem;
}

.line-color {
    color: rgb(12, 162, 237);
    font-size: 1rem;
    font-weight: 800;
}

.highlight-text {
    color: white;
    margin: 0.25rem 1rem 2rem 1rem;
    font-size: 1.5rem;
}

.highlight-text-alt {
    color: rgb(12, 162, 237);
}